<!-- James Maher and Andrew Bockus -->
<br /><br />
<div class="row panel radius">
  <div class="large-12 medium-12 small-12 large-centered medium-centered small-centered columns">
    <h1 align="center">Privacy Policy</h1><hr />
  </div>
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;The North Central College Office of Graduate and Continuing Studies maintains this web site to support its mission and to provide
        information to you about the College, its policies, campus facilities, and educational and
        other programs.  We hope that you will find this information helpful and easy to use.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;We are mindful that Internet browsers are sensitive to issues of privacy, and we will take every precaution to safeguard the personal
        information you provide to us. The personal information you provide will only be used for internal College purposes.  We will not
        provide your personal information to unaffiliated third parties. Other users will only be able to see your profile if you opt-in to the
        search service.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;The College makes every effort to ensure that its privacy policies and those of the federal and state governments are followed.
        Information submitted on the Web site is maintained on a private College server and handled in a confidential manner.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;Access to this Web Site is monitored. The requesting URLs, the machine originating the request, and the time of the request are logged
        for access statistics and security purposes. Use of this Web Site constitutes consent to such monitoring.
      </p>
    </div>
  </div>
  <br />
</div>