<!-- James Maher and Andrew Bockus -->
<br /><br />
<div class="row panel radius">
  <div class="row">
    <div class="small-12 medium-12 large-12 large-centered text-center columns">
        <h1>Contact Us</h1>
        <hr/>
    </div>
  </div>
  <div class="row">
    <div class="large-8 medium-6 small-12 large-centered medium-centered small-centered columns">
      <p>For more information or to change profile information, including resetting your password,please contact the Office of Graduate and Continuing Studies Secretary:
      <div align="center">Laraine Ellensohn<br />
      630-637-5580<br /><a href="mailto:lrellensohn@noctrl.edu">lrellensohn@noctrl.edu</a></div>
    </p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 large-6 large-centered text-center columns">
      <h2>Pamela Monaco, Ph.D.</h2>
      Dean of Graduate and Continuing Studies<br />
      <%= mail_to "pjmonaco@noctrl.edu" %><br /><br />
      <img src="/assets/monaco_p.JPG"/>
      <br /><br />
      <h2>Nicole Arient</h2>
      Assistant Director of Graduate Admission<br />
      <%= mail_to "nkarient@noctrl.edu" %><br /><br />
      <img src="/assets/kossakowski_n.JPG"/>
    </div>
  </div>
  <br />
</div>